

.button {
    background-color: var(--secondary-color);
    padding: 0.5em 2em;
    border: 0.12rem solid #231f20;
    color: var(--charcoal);
    text-decoration: none;
    box-shadow: 2px 2px 0 var(--charcoal);
    transition: box-shadow 0.15s ease-in-out;
    border-radius: 9999px;
    font-weight: 700;
}

.test {
    background-color: red;
    color: var(--charcoal);
}

a {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;

}

.link {
   font-size: 1.5rem;
}

.cardButton {
    padding: 0.1em 0.2em;
    font-size: 1rem;
}

.paginationButton,
.paginationNumber { 
    font-weight: 0;
padding: 0em 0.5em;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

.paginationButton:hover:not(:disabled),
.paginationNumber:hover {
  background-color: #d9d9d9;
  transform: translateY(-1px);
}

.active {
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

.paginationButton:disabled {
  background-color: #eaeaea;
  color: #aaa;
  cursor: not-allowed;
}




/* Mobile */
@media (max-width: 500px) {
  .paginationButton,
  .paginationNumber {
    padding: 6px 10px;
    font-size: 12px;
  }
  .paginationContainer {
    gap: 5px;
  }
}