.heroContainer {
  max-width: 1200px;
  margin: auto;
  min-height: calc(100vh - 2rem);
  display: flex;
  align-items: center;
  padding: 2rem 2rem 2rem 0;
  gap: 6rem;
  position: relative;

  /* scroll-snap-align: start; */
}

.heroName {
    font-size: 5.5rem;
    font-weight: 900;
    color: var(--color-primary);
    font-family: var(--title-font);
}

.heroText {
  position: relative;
}

.heroInfo,
.heroImageWrapper {
  box-sizing: border-box;
}

.heroInfo {
    /* padding: 2rem; */
  display: flex;
  flex: 3;
  flex-direction: column;
  /* overflow: hidden; */
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
  position: relative;
}


.heroGreeting {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-secondary);
  font-family: var(--text-font-1);
}


.heroDescription{
  font-size: 1.2rem;
  font-family: var(--text-font-1);
}

.heroImageWrapper {
  display: flex;
  flex: 2; 
  object-fit: contain;
  align-items: center;
  justify-content: center;
  
}

.heroImage{
    width: 30rem;
}

.heroComponent1 {
  position: absolute;
    right: 0;
    z-index: -1;
    top: 0;
}