nav {
    display: flex;
    justify-content: space-between;      
    width: 100%; 
  scroll-snap-align: start;

}

.navList {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
}