.projectsSection {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    scroll-snap-align: start;
    margin-bottom: 2rem;


}

.projectsSection p {
  font-size: 1.2rem;
}

.projectsHeader {
  text-align: center;
}

.projectsTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
    font-weight: 900;
    font-family: 'Unigeo 64';

}

.projectsContainer {
    display: flex;
    gap: 2.4rem;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
}
.paginationContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.paginationButton,
.paginationNumber {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background-color: var(--mustard-yellow);
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s, transform 0.1s;
}

.paginationButton:hover:not(:disabled),
.paginationNumber:hover {
  background-color: var(--petrol-blue);
  transform: translateY(-1px);
}

.active {
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

.paginationButton:disabled {
  background-color: #eaeaea;
  color: #aaa;
  cursor: not-allowed;
}

.paginationNumbers {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}



/* Mobile */
@media (max-width: 500px) {
  .paginationButton,
  .paginationNumber {
    padding: 6px 10px;
    font-size: 12px;
  }
  .paginationContainer {
    gap: 5px;
  }
}

@media (max-width: 767px) {
  .projectsSection {
    margin-top: 6rem;
  }

  .projectsTitle {
    font-size: 2.5rem;
  }

  .projectsContainer {
    gap: 1.5rem;
  }
}
@media (max-width: 400px) {
  .projectsTitle {
    font-size: 2rem;
  }
}