.projectDetailContainer {
display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    font-size: 1.4rem;
    text-align: justify;

}

.imagesContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  /* max-width: 65%; */
}

.linksContainer {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
    justify-content: center;
}

.technology {
    background-color: var(--pink);
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-size: 0.8rem;
    color: var(--retro-bg);
}

.jsColor {
    background-color: #f7df1e;
}
.reactColor {
    background-color: #61dafb;
}
.nodeColor {
    background-color: #339933;
}
.expressColor { 
    background-color: #000000;
}
.mongoColor {
    background-color: #47a248;
}
.typescriptColor {
    background-color: #3178c6;
}
.cssColor {
    background-color: #264de4;
}
.htmlColor {
    background-color: #e34c26;
}
.axiosColor {
    background-color: #5a29e4;
}